
*.m4
*.Po
*.o
*.0
*.1
*.2
*.3
*.4
*.guess
*.sub
*.mod
*.log
*.status
*.Plo
*.a
*.a
*.o
*.la
*.lo
.dirstamp
.DS_Store
applications/clawpack/acoustics/2d/interface/interface
applications/clawpack/acoustics/2d/radial/radial
applications/clawpack/advection/2d/annulus/annulus
applications/clawpack/advection/2d/disk/disk
applications/clawpack/advection/2d/filament/filament
applications/clawpack/advection/2d/hemisphere/hemisphere
applications/clawpack/advection/2d/latlong/latlong
applications/clawpack/advection/2d/periodic/periodic
applications/clawpack/advection/2d/replicated/replicated
applications/clawpack/advection/2d/sphere/sphere
applications/clawpack/advection/2d/swirl/swirl
applications/clawpack/advection/2d/torus/torus
applications/clawpack/burgers/2d/pwconst/pwconst
applications/clawpack/euler/2d/quadrants/quadrants
applications/clawpack/euler/2d/shockbubble/shockbubble
applications/clawpack/shallow/2d/bump/bump
applications/clawpack/shallow/2d/radialdam/radialdam
applications/clawpack/transport/correlatedcb/correlatedcb
applications/clawpack/transport/gaussian/gaussian
applications/clawpack/transport/slotted_disk/slotted_disk
applications/clawpack/transport/square/square
applications/lowlevel/smooth
autom4te.cache/requests
build-aux/ar-lib
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
configure
configure~
Doxyfile
libtool
magicforest/
Makefile
Makefile.fclaw.mk
Makefile.fclaw.pre
Makefile.in
sc
src/.libs/libforestclaw.lai
src/fclaw_config.h
src/patches/clawpatch/.libs/libclawpatch.lai
src/pre_config.h
src/pre_config.h.in
src/pre_config.h.in~
src/solvers/fc2d_clawpack4.6/.libs/libclawpack4.6.lai
src/solvers/fc2d_clawpack5/.libs/libclawpack5.lai
src/stamp-h1
test/test_config.h
